body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
}

.app-container {
  text-align: center;
}

.navbar {
  background-color: #333;
  padding: 10px;
}

.navbar ul {
  list-style-type: none;
  padding: 0;
}

.navbar li {
  display: inline;
  margin: 0 15px;
}

.navbar a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

.navbar a:hover {
  color: #ddd;
}

.section {
  padding: 50px;
}

.home-section {
  background-color: #f8f9fa;
}

.about-section {
  background-color: #fff;
}

.projects-section {
  background-color: #f8f9fa;
}

.project-card {
  display: inline-block;
  background-color: white;
  margin: 15px;
  padding: 20px;
  border-radius: 8px;
  width: 250px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.contact-section {
  background-color: #fff;
}

.footer {
  background-color: #333;
  color: white;
  padding: 10px;
  width: 100%;
  bottom: 0;
  margin-bottom: 10px;
}